.nav-tabs {
  border-bottom: 2px solid #DDD;
}
.nav-tabs > li {
  text-align: center;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-width: 0;
}
.nav-tabs > li > a {
  border: none;
  color: #DBDEE0;
  position: relative;
  padding: 1rem .5rem;
  font-weight: 400;
}
.nav-tabs > li> a.active,
.nav-tabs > li> a:hover {
  border: none;
  color: #707A84 !important;
  background: transparent;
}
.nav-tabs > li > a::after {
  content: "";
  background: #c62828;
  height: 2px; position: absolute;
  width: 100%; left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.nav-tabs > li > a.active::after,
.nav-tabs > li > a:hover::after {
  transform: scale(1);
}
