<div id="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <img class="logo" src="assets/img/Logo-01.png" alt="logo">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Módulo Comercial</strong>
                            </span>

                        </a>
                    </div>
                </li>
                <li [ngClass]="{active: activeRoute('cotizacion')}">
                    <a [routerLink]="['/cotizacion']">
                        <i class="fa fa-money"></i>
                        <span class="nav-label">Cotización</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-wrench"></i>
                        <span class="nav-label">Administrar</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a [routerLink]="['/administrar/usuarios']">Usuarios</a>
                        </li>
                        <li>
                            <a [routerLink]="['/administrar/dealers']">Dealers</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['/visitor']">
                        <i class="fa fa-handshake-o"></i>
                        <span class="nav-label">Gestión de Agendas de Visitas</span>
                    </a>
                </li>
                <li [ngClass]="{active: activeRoute('minorView')}">
                    <a [routerLink]="['/minorView']">
                        <i class="fa fa-id-badge"></i>
                        <span class="nav-label">Administracion de Cartera</span>
                    </a>
                </li>

                <li>
                    <a [routerLink]="['/risks']">
                        <i class="fa fa-area-chart"></i>
                        <span class="nav-label">Análisis de Riesgos</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/operations']">
                        <i class="fa fa-users"></i>
                        <span class="nav-label">Cierre de Operaciones</span>
                    </a>
                </li>

               

            </ul>

        </div>
    </nav>
</div>