<cabecera-basico [titulo]="titulo" [links]="links"></cabecera-basico>
<div id="view-visitas">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="pull-right" mat-raised-button color="primary" data-toggle="modal" data-target="#formulario-visitor">
                                    <i class="fa fa-plus"></i> Nuevo
                                </button>
                            </div>
                        </div>
                        <br/>

                        <div id="calendar" class=" text-center"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<formulario-visitor></formulario-visitor>