<div id="view-business" class="container-fluid">
    <div class="row">
        
        <topnavbar></topnavbar>

        <div class="">
            <img src="assets/img/Logo-01.png" alt="logo" class="leas-log">
        </div>

        <div class="business-services-1x">
            <div class="container-fluid">
                <div class="business-services">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 service-content">
                            <div class="row">

                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="single-services">
                                        <div class="media text-center">
                                            <div class="col-sm-4 col-md-3">
                                                <img class="mr-3" (click)="main()" src="assets/img/handshake.png" alt="">
                                            </div>
                                            <div class="media-body">
                                                <a (click)="main()" class="mt-0 title-modules">Área Comercial</a>
                                                <p class="text-modules hidden-xs">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="single-services">
                                        <div class="media text-center">
                                            <div class="col-sm-4 col-md-3">
                                                <img class="mr-3" src="assets/img/money.png" alt="">
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="mt-0 title-modules">Área de Finanzas</a>
                                                <p class="text-modules hidden-xs">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="single-services">
                                        <div class="media text-center">
                                            <div class="col-sm-4 col-md-3">
                                                <img class="mr-3" src="assets/img/line-chart.png" alt="">
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="mt-0 title-modules">Área de Riesgos</a>
                                                <p class="text-modules hidden-xs">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="single-services">
                                        <div class="media text-center">
                                            <div class="col-sm-4 col-md-3">
                                                <img class="mr-3" src="assets/img/balance.png" alt="">
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="mt-0 title-modules">Área Legal</a>
                                                <p class="text-modules hidden-xs">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="single-services">
                                        <div class="media text-center">
                                            <div class="col-sm-4 col-md-3">
                                                <img class="mr-3" src="assets/img/monitor.png" alt="">
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="mt-0 title-modules">Sistemas</a>
                                                <p class="text-modules hidden-xs">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="single-services">
                                        <div class="media text-center">
                                            <div class="col-sm-4 col-md-3">
                                                <img class="mr-3" src="assets/img/handshake.png" alt="">
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="mt-0 title-modules">Auditoría Interna</a>
                                                <p class="text-modules hidden-xs">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="single-services">
                                        <div class="media text-center">
                                            <div class="col-sm-4 col-md-3">
                                                <img class="mr-3" src="assets/img/handshake.png" alt="">
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="mt-0 title-modules">Recursos Humanos</a>
                                                <p class="text-modules hidden-xs">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="single-services">
                                        <div class="media text-center">
                                            <div class="col-sm-4 col-md-3">
                                                <img class="mr-3" src="assets/img/employee.png" alt="">
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="mt-0 title-modules">Representante Bursátil</a>
                                                <p class="text-modules hidden-xs">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="single-services">
                                        <div class="media text-center">
                                            <div class="col-sm-4 col-md-3">
                                                <img class="mr-3" src="assets/img/handshake.png" alt="">
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="mt-0 title-modules">Oficial de Cumplimiento</a>
                                                <p class="text-modules hidden-xs">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="single-services">
                                        <div class="media text-center">
                                            <div class="col-sm-4 col-md-3">
                                                <img class="mr-3" src="assets/img/handshake.png" alt="">
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="mt-0 title-modules">Oficial de Cumplimiento Normativo</a>
                                                <p class="text-modules hidden-xs">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="single-services">
                                        <div class="media text-center">
                                            <div class="col-sm-4 col-md-3">
                                                <img class="mr-3" src="assets/img/bar-chart.png" alt="">
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="mt-0 title-modules ">Oficial de Conducta de Mercado</a>
                                                <p class="text-modules hidden-xs">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-4  col-lg-4">
                                    <div class="single-services">
                                        <div class="media text-center">
                                            <div class="col-sm-4 col-md-3 col-lg-3">
                                                <img class="mr-3" src="assets/img/pay.png" alt="">
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="mt-0 title-modules">Cobranzas</a>
                                                <p class="text-modules hidden-xs">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>