.swal2-container{
  z-index: 2060 !important;
}
.swal2-popup{
  .swal2-styled{
    padding: 0 !important ;
    &.swal2-confirm{
      background-color: $color_prymary_500 !important;
    }
    &.swal2-cancel{
      background-color: white !important;
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }
  .swal2-title{
    padding: 0 10px !important;
    margin: 0px 0px 0.4em !important;
    font-size: 16px !important;
  }
}